<template name="ApplicationLayout">

    <head>
        <title>ChatChat</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <hr/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <img href="img/cream.png">
                    <a class="brand-logo">ChatChat</a>
                    <ul class="right hide-on-med-and-down">
                        <li>{{> loginButtons align=right}}</li>
                        <li><a><i class="material-icons left">search</i>search</a></li>
                        <li><a><i class="material-icons left">perm_identity</i>Find Friends</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>

    </body>
</template>

<template name="welcome">


</template>

<template name="post">

</template>