<template name="home">
    {{#if currentUser}}
    <button class="waves-effect waves-light btn">Chat Room 1</button>
    <button class="waves-effect waves-light btn">Chat Room 2</button>
    <button class="waves-effect waves-light btn">Direct Messages</button>
    <h2>ChatChat</h2>

    <form class="name-form">
        <input type="text" name="firstname">
        <div class="submit">
            <input class="waves-effect waves-light btn" type="submit">
        </div>
    </form>

    <ul>
        {{#each posts}}
        <li>{{username}}: {{name}}</li>
        {{/each}}
    </ul>

    <h2 class="post-class">{{name}}</h2> {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h3>Create an account!</h3>
            </div>
        </div>
    </div>
    {{/if}}
</template>